* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid rgb(145, 15, 15);
    margin: 0 auto;
    position: relative;
    /* Para tudo que saia da delimitação da div desapareça da tela */
    overflow: hidden;
}

.pipe{
    /* para que nenhum elemento interfira no comportamento da outra */
    position: absolute;
    bottom: 0;
    width: 80px;
    /* linear para velocidade constante */
    animation: pipe-animation 4s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    /* para o elemento ficar embaixo */
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;

}

/* animação com início e fim */
@keyframes pipe-animation {
    /* onde o tubo começa */
    from{
        right: -80px;
    }
    /* onde o tubo termina */
    to {
        right: 100%;
    }
}

 /* a animação começa no bottom 0, vai para bottom 180px e volta para o bottom 0 */

 /* animação com início, meio e fim */
 @keyframes jump {
    /* trabalhando com porcentagem para definir o início, meio, e fim */

    0%{
        bottom: 0;
    }

    /*3 momentos q ele fica no ar para ele demorar para cair de volta*/

    30%{
        bottom: 180px;
    }
    
    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    70%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
 }
